<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


{{room.id}}
{{room.name}}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form (ngSubmit)="processForm()">
                <fieldset>
                    
                    <div class="form-group">
                        <label for="Name"><span class="req">* </span> Name: <small>This will be your room
                                name</small> </label>
                        <input required type="text" [(ngModel)]="room.name" name="name" id="name"
                            class="form-control phone" maxlength="28" placeholder="Enter room name..." />
                    </div>

                    <div class="form-group">
                        <label for="Location"><span class="req">* </span> Location: </label>
                        <input class="form-control" type="text" [(ngModel)]="room.location" name="location" id="location" required
                            placeholder="Enter location" />
                        <div id="errFirst"></div>
                    </div>
                   
                    <div  class="form-group">
                            <label for="sel2">Select facility:</label>
                            <select multiple class="form-control" [(ngModel)]="room.facility"  name="facility"  id="facility">
                              <option [value]="item"  *ngFor="let item of facility">{{item.name}}</option>
                             
                            </select>
                          </div> 


                   
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Save" >
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>













